*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

body {
    background: linear-gradient(300deg, #00bfff, #9ca92b, #72e2ef);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
    

  .temprature-converter{
    background-color:white;
    width:100%;
    min-width: 320px;
    padding: 20px 25px 45px;
    border-radius: 5px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-box-shadow: 10px 10px 106px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 106px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 106px 0px rgba(0,0,0,0.75);
   }

   .title{
    display: flex;
    color:#222;
    font-size: 1.5rem;
    text-align: center;

   }
  
    .result{
        text-align: center;
        margin: 20px 0;
    }

    .result-heading{
        color:#555;
        font-size: 1rem;
        font-weight: 600;
    }

    .celsius-value{
        border-bottom: 2px solid #ccc;
        padding: 10px;
        transition: all 45s ease;
    }

    .degree-type{
        display: flex;
        flex-direction:column;
         padding: 20px 0;
    }

    .degree-field{
     display: flex;
     flex-direction: column;
     width: 46%;
    }
     
    label{
    color: #555;
    font-size: .8rem;
    margin-bottom: 5px;
    }

    input,select{
        background: transparent;
        border: none;
        outline: none;
        border-bottom: 2px solid #ccc;
        padding: 8px;
        margin-bottom: 15px;
    }

    input:focus{
        border: 1px solid #4c49f3;
    }

    option{
        background: #3c39e7;
        color: white;
    }
    
    #convert-btn{
        border: none;
        outline: none;
        border-radius: 5px;
        background: linear-gradient(to bottom, #3633f3, #120fb9);
        color: #f6f6f6;
        padding: 12px 80px;
        font-weight: bold;
        letter-spacing: 1px;
        margin-top: 10px;
        transition: all .3s ease-in;
        text-transform: uppercase;
        cursor: pointer;
    }

    #convert-btn:hover{
        background: linear-gradient(to bottom, #4a47e7,#322fda) ;
    }

